@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@using MvcContrib.Pagination
@model IPagination<GridExampleMvc.Ajax.Models.Product>
  
@{
    ViewBag.Title = "Browse Products";
}

<h2>Browse Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="mvcGrid">
    @Html.Grid(Model).Sort(ViewData["sort"] as GridSortOptions).Columns(col =>
    {
        col.For(p => p.Id).Named("ProductId").Sortable(true);
        col.For(p => p.Name).Named("Name").Sortable(true);
        col.For(p => p.Price).Named("Price").Sortable(true);
        col.For(p => p.Qty).Named("Quantity").Sortable(false);
    }).Attributes(@class => "table")
    <div>
       @Html.Raw(Html.Pager((IPagination)Model))
    </div>
</div>
<script type="text/javascript">

    (function ($) {
         
        $.fn.AjaxMvcContribGrid = function (options) {
            var gridParent = this;
            var container = '#' + $(gridParent).attr('id');
         
            $(gridParent).find(".paginationRight > a, th > a").on("click", function (event) {
                //event.stopPropagation();
                //stop the browser from going to the relevant URL
                $(gridParent).hide("slow");
                event.preventDefault();
                $.ajax({
                    type: "get",
                    dataType: "html",
                    url: this.href,
                    data: {},
                    success: function (response) {
                        var table = $('<div/>').html(response).find(container).html()
                        $(container).html(table);
                        $(gridParent).show("slow");
                    }
                });
            });
        }

    }(jQuery));


    $(document).ready(function () {

        $('#mvcGrid').AjaxMvcContribGrid();

    });
</script>